<div class="container mt70" ng-hide="orderSent">
  <div class="col-sm-8 col-xs-12">
    <h5 class="orderPage-heading">Teslimat Adresi</h5>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <span class="fa fa-map-marker order-map-marker pull-left"></span>
            <div class="order-address-exp">
              <span>{{selectedAddress.name}}:&nbsp;<span>{{selectedAddress.desc}}</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-xs-12 mt25">
    <h5 class="orderPage-heading">Ödeme YÖntemi</h5>
    <div class="col-xs-12 pt20 pb5 payment-type-container">
      <form name="cardRadioButtons" ng-repeat="card in cards">
        <label>
          <input class="pull-left" type="radio" name="cardRadios" id="{{ card.name }}" ng-model="$parent.selectedCard" ng-value="card">
          <img src="/assets/images/{{card.type}}.png" class="pull-left ml10 mt-5 mr5" alt="{{card.type}}">
          <div class="pull-left mt-10">
            <span>&nbsp;&nbsp;{{card.name}}</span>
            <p>&nbsp;&nbsp;{{card.number}}</p>
          </div>
        </label><br/>
      </form>
    </div>
  </div>
  <div class="col-sm-8 col-xs-12 mt25">
    <h5 class="orderPage-heading">Ödeme</h5>
    <div class="col-xs-12 pt10 pb10 payment-container">
      <div class="col-xs-12 mt10 payment-inner-div">
        <p>Sepet Tutari: <span class="pull-right">{{basketPrice}}</span></p>
      </div>
      <div class="col-xs-12 mt10 payment-inner-div">
        <p>Getirmesi: <span class="pull-right">{{deliveryPrice}}</span></p>
      </div>
      <div class="col-xs-12 mt10">
        <img src="/assets/images/{{selectedCard.type}}.png" alt="{{selectedCard.type}}">
        <span class="pull-right orderPage-price">Ödenecek Tutar&nbsp;&nbsp;&nbsp;&nbsp;<span>{{totalPrice}}</span></span>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-2 mt25">
        <button type="submit" class="btn btn-primary btn-block cancel-order-btn" ng-click="cancelOrder()"><span>İptal</span></button>
      </div>
      <div class="col-sm-6 col-xs-10 mt25">
        <button type="submit" class="btn btn-primary btn-block order-send-btn " ng-click="sendOrder(selectedAddress, selectedCard)"><span>Sipariş Ver</span></button>
      </div>
    </div>
  </div>
</div>

<div class="container mt70" ng-if="orderSent">
  <ng-map id="map" center='current-position'></ng-map>
  <h2 class="orderPage-heading mt 20">Siparişiniz Yola Çıkmıştır</h2>
</div>