
<top-navigation></top-navigation>

<div class="container" id="products-general" data-spy="scroll" data-target="#affixedPanel">
  <div class="row">
    <div class="col-xs-12 sub" ng-repeat="subcategory in subcategories[0].subcategories track by $index" id="{{subcategory}}">
      <h4 id="subcategory-heading">{{subcategory}}</h4>
      <div class="col-sm-3 col-xs-5 col-xs-offset-1 subcategory-products" ng-repeat="product in products[$index]">
       <single-item product="product"></single-item>
      </div>
    </div>
  </div>
</div>

<basket-icon class="basket-dir"></basket-icon>
