<div class="container ftr">
  <div class="row">
    <div class="col-xs-9">
      <h5 class="footer-heading text-left">İletişim</h5>
      <span class="fa fa-phone footer-icon pull-left">&nbsp;&nbsp;<a href="#">+90 (850) 532 50 50</a href=""></span><br>
      <span class="fa fa-envelope footer-icon pull-left">&nbsp;&nbsp;<a href="#">info@getir.com</a></span><br>
      <span class="fa fa-home footer-icon pull-left">&nbsp;</span>
      <p class="text-left">Ebulula Mardin Cd. No:23, Levent Mahallesi, 34330 Beşiktaş/İstanbul, Türkiye</p>
    </div>
    <div class="col-xs-3">
      <div class="col-xs-6 footer-app-store">
        <a href="https://itunes.apple.com/app/id995280265">
          <img class="img-responsive" src="/assets/images/apple-badge.png"></img>
        </a>
      </div>
      <div class="col-xs-6 footer-app-store">
        <a href="https://play.google.com/store/apps/details?id=com.getir">
          <img class="img-responsive" src="/assets/images/google-play-badge.png"></img>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="https://www.facebook.com/getir.istanbul">
          <div class="social-media-cont">
            <span class="fa fa-facebook footer-social-media"></span>
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="https://twitter.com/getir_istanbul">
          <div class="social-media-cont">
            <span class="fa fa-twitter footer-social-media"></span>
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="https://www.instagram.com/getir_istanbul/">
          <div class="social-media-cont">
            <span class="fa fa-instagram footer-social-media"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
