footer.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: $primary-color;
}

.ftr, .ftr a {
  color: $w;
}

.footer-icon, .ftr a:hover {
  color: $secondary-color;
}

.footer-icon {
  font-size: 16px;
}

.footer-social-media {
  font-size: 20px;
  color: $secondary-color;
}

.social-media-cont {
  border: 1px solid $secondary-color;
  border-radius: 27px;
  padding: 13px 0;
  margin: 20px auto 0;
  width: 50px;
  height: 50px;
}

.footer-app-store {
  margin: 10px auto;
  display: inline-block;
}
