<div class="navbar navbar-default navbar-fixed-top nav nav-b" id="affixedNav">
  <div class="container nav-all">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-init="nav.isCollapsed = true" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" id="nav-brand">
        <img src="/assets/images/getir-logo.png" alt="getir-logo" class="img-responsive nav-logo">
      </a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li class="" ng-show="nav.isLoggedIn()"><p class="navbar-text nav-item-color">Merhaba {{ nav.getCurrentUser().name }}</p></li>
        <li class="visible-xs" ng-repeat="item in nav.userMenu" ng-class="{active: nav.isActive(item.link)}" ng-show="nav.isLoggedIn()">
          <a href="{{item.link}}" class="nav-item-color">{{item.title}}</a>
        </li>
        <li class="visible-xs" ng-repeat="item in nav.menu" ng-class="{active: nav.isActive(item.link)}">
          <a href="{{item.link}}" class="nav-item-color">{{item.title}}</a>
        </li>
        <li class="visible-xs" ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login" class="nav-item-color">Giriş yap</a></li>
        <li class="visible-xs" ng-show="nav.isLoggedIn()"><a href="/logout" class="nav-item-color">Logout</a></li>
        <li class="hidden-xs" id="mf-navbar-user-menu">
          <a href="#" class="dropdown-toggle text-center" id="dropdownMainMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-mouseover="menuMouseOver('user')" ng-mouseleave="menuMouseLeave(2300, 'user')"><span class="fa fa-bars nav-item-color"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-main animated-quicker fadeIn" aria-labelledby="dropdownMainMenu" ng-mouseover="menu.user.still = true" ng-mouseleave="menu.user.still = false; menuMouseLeave(2500, 'user');">
            <li ng-repeat="item in nav.userMenu" ng-class="{active: nav.isActive(item.link)}" ng-show="nav.isLoggedIn()">
              <a href="{{item.link}}" class="nav-item-color">{{item.title}}</a>
            </li>
            <li ng-repeat="item in nav.menu" ng-class="{active: nav.isActive(item.link)}">
              <a href="{{item.link}}" class="nav-item-color">{{item.title}}</a>
            </li>
            <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login" class="nav-item-color">Giriş yap</a></li>
            <li class="nav-item-color" ng-show="nav.isLoggedIn()"><a href="/logout" class="nav-item-color">Çıkış yap</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
