<div class="top-category">
  <div class="top-category-menu">
    <div class="single-category" ng-repeat="category in categories" id="{{category.path}}">
      <a href="/products?category={{category.path}}">
        <div class="category-menu-img">
          <img ng-src="/assets/images/{{category.img}}" alt="{{category.name}}" class="img-responsive">
        </div>
        <h6 class="text-center">{{category.name}}</h6>
        <div class="fake-scroll" ng-show="activeCategory.category === '{{category.path}}'"></div>
      </a>
    </div>
  </div>
</div>

<div class="subcategory-wrapper">
  <div class="top-subcategory" id="affixedPanel">
    <ul class="top-subcategory-menu nav" >
      <li class="single-subcategory" ng-repeat="subcategory in currentCategory[0].subcategories">
        <a href="#{{subcategory}}" du-scrollspy>
          <span>{{subcategory}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
