<div class="col-sm-6 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body single-address-container">
      <div class="row">
        <div class="col-xs-10">
          <h5>{{myAddress.name}}</h5>
          <div class="single-address-desc">
            <p>{{myAddress.desc}}</p>
          </div>
        </div>
        <div class="col-xs-2 edit-address-container text-center">
          <a href="#" ng-click="editAddress(myAddress)"><span class="fa fa-pencil-square-o single-address-edit"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>