.single-panel-container {
  height: 96px;
  overflow: hidden;
}

.single-panel-container, .single-panel-container a, .single-panel-container a:hover, .single-panel-container a:active{
  color: #212b69;
  text-decoration: none;
}

.single-panel-edit {
  font-size: 23px;
  line-height: 44px;
  color: $primary-color;
}

.edit-panel-container, .cont-panel-container {
  height: 44px;
  margin-top: 10px;
}

.edit-panel-container {
  border-left: 1px solid $border-gray;
}

.single-panel-desc {
  height: 50px;
  overflow: scroll;
}

.address-placeholder {
  color: $primary-color;
  line-height: 62px;
}