<ng-map id="map" center='current-position'></ng-map>

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-xs-4 category-cont" ng-repeat="category in categories">
      <a href="/products?category={{category.path}}">
        <h4 class="hidden-xs category-heading">{{category.name}}</h4>
        <h5 class="visible-xs category-heading">{{category.name}}</h5>
        <img ng-src="/assets/images/{{category.img}}" alt="{{category.name}}" class="img-responsive category-img">
      </a>
    </div>
  </div>

  <basket-icon class="basket-dir" ng-hide="basket.length === 0"></basket-icon>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>
