<ng-map class="mt50" id="map">
  <marker position="{{selectedAddress.lat}}, {{selectedAddress.lng}}" centered="true"></marker>
</ng-map>

<div class="container">
  <button class="main-address-cont text-left btn-block row" ng-click="chooseAddress()">
    <single-address address="selectedAddress" show-edit="false"></single-address>
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-xs-4 category-cont" ng-repeat="category in categories">
      <a href="/products?category={{category.path}}">
        <h4 class="hidden-xs category-heading">{{category.name}}</h4>
        <h5 class="visible-xs category-heading">{{category.name}}</h5>
        <img ng-src="/assets/images/{{category.img}}" alt="{{category.name}}" class="img-responsive category-img">
      </a>
    </div>
  </div>

  <basket-icon class="basket-dir" ng-hide="basket.length === 0"></basket-icon>

</div>
