.adress-form-container {
  background-color: $w;
}

.map-container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.adress-form-input-container {
  position: relative;
  height: 35px;
}

.adress-form-input {
  border: none;
  box-shadow: none;
}

.adress-form-icon {
  color: lightgray;
  font-size: 20px;
}


.icon-container {
  position: relative;
}

.input-icon {
  position: absolute;
  height: 34px;
  width: 34px;
  top: 0;
  color: rgba(0,0,0,0.4);
  text-align: center;
  line-height: 36px;
  display: block;
  z-index: 2;
}

.input-with-icon {
  position: relative;
  z-index: 1;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: none;
  border-radius: 0;
  padding-left: 34px;
}

.input-with-icon:focus {
  box-shadow: none;
  border-bottom: 1px solid $primary-color;
  & + .input-icon {
    color: $primary-color;
  }
}

.form-btn, .form-cancel-btn {
  width: 100%;
  border: none;
}

.form-btn {
  background-color: $primary-color;
}

.form-cancel-btn {
  background-color: $secondary-color;
  color: $primary-color;
}

.form-cancel-btn:hover, .form-cancel-btn:focus {
  background-color: $hovers;
  color: $hoverp;
  outline: none;
}

.form-btn:hover, .form-btn:focus, .form-btn:active, .btn-primary[disabled], .form-btn[disabled]:active {
  background-color: $hoverp;
  outline: none;
  outline-offset: 0;
}

.btn-spinner {
  font-size: 20px;
  color: $w;
}

.delete-btn {
  margin-top: 10px;
  font-size: 20px;
}

.delete-btn, .delete-btn a, .delete-btn a:hover, .delete-btn a:active {
  color: $primary-color !important;
}