<div class="col-sm-6 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body single-panel-container">
      <div class="row">
        <div class="col-xs-10">
          <h5>{{card.name}}</h5>
          <div class="single-panel-desc">
            <p>{{card.number}}</p>
          </div>
        </div>
        <div class="col-xs-2 edit-panel-container text-center">
          <a href="#" ng-click="deleteCard(card)"><span class="fa fa-trash single-panel-edit"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>