<div class="container">
  <div class="row address-add-buttons" style="margin: 100px -15px 20px;" ng-hide="addAction">
    <add-buttons ng-repeat="btn in addButtons"></add-buttons>
  </div>
  <div class="row" ng-hide="addAction">
    <single-address ng-repeat="myAddress in addresses" address="myAddress" show-edit="true"></single-address>
  </div>
  <div class="row" ng-if="addAction" style="margin-top: 100px;">
    <address-form address="address" delete="deleteAction"></address-form>
  </div>
  <basket-icon class="basket-dir" ng-hide="basket.length === 0"></basket-icon>

  <div class="modal fade" id="pr-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <product-modal></product-modal>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
