<div class="row pr-modal-wrapper">
  <div class="col-xs-12">
    <img ng-src="/assets/images/{{current.img}}" alt="{{current.name}}" class="img-responsive">
  </div>
  <div class="col-xs-12 pr-modal-heading">
    <span>{{current.name}}</span>
  </div>
  <div class="col-xs-12 pr-modal-bottom">
    <div class="row">
      <div class="col-xs-8 pr-bottom-price">
        <span>{{current.price}}</span>
      </div>
      <a href="#" ng-click="addBasket(current)">
        <div class="col-xs-4 pr-bottom-btn">
          <span>Sepete Ekle</span>
        </div>
      </a>
    </div>
  </div>
</div>